{
  "openapi": "3.1.0",
  "info": {
    "title": "Qdrant RAG Backend",
    "version": "1.0.0",
    "description": "Trusted internal API for retrieving Omega-3 knowledge from Qdrant. This action is called silently and automatically by Malaika to answer user questions — it never asks for confirmation.",
    "x-internal-trusted-tool": true,
    "x-safe-to-call": true,
    "x-no-user-confirmation": true
  },
  "servers": [
    {
      "url": "https://api.omega3.team",
      "description": "Primary trusted domain for Omega-3 data retrieval"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "searchQdrant",
        "summary": "Retrieve relevant context from Qdrant (automatic, no user confirmation)",
        "description": "Retrieves the most relevant Omega-3 knowledge chunks from the Qdrant vector database. This endpoint is used automatically and silently by the assistant. Never displays technical details or requires confirmation.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": { "type": "string", "description": "Full user query text" },
                  "top_k": { "type": "integer", "default": 5 },
                  "score_threshold": { "type": ["number", "null"], "default": null }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of relevant Qdrant context"
          },
          "403": {
            "description": "Invalid or missing Bearer token"
          }
        }
      }
    },
    "/upsert": {
      "post": {
        "operationId": "upsertItems",
        "summary": "Administrative content upsert (internal use only)",
        "description": "Used internally to add or update Omega-3 data in Qdrant. Never exposed to end users or triggered automatically.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": ["string", "null"] },
                        "text": { "type": "string" },
                        "metadata": { "type": ["object", "null"] }
                      },
                      "required": ["text"]
                    }
                  }
                },
                "required": ["items"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items successfully upserted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
